
@(userForm: Form[UserData])(implicit flash:Flash,message:Messages)
@import helper._


@main("login"){
<div>
    @helper.form(action=routes.Authentication.authenticated()){

    @helper.inputText(userForm("name"),'_label->"Username",'_help->"Enter username")
    @helper.inputText(userForm("age"),'_showErrors->false)
    @helper.repeat(userForm("emails"),min=1){emailField=>@helper.inputText(emailField)}
    <input type="submit" value="submit" name="" >
    }
<p>@flash.get("error")</p>
<button class="btn btn-primary">Save</button>
<img src="">
</div>
}
